*{
  font-family: 'Nanum Gothic', sans-serif;
  margin:0;
}

header,footer,.main {
  width: 100%;}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
  "header header"
  "main main"
  "who who"
  "like like"
  "footer footer";
  grid-template-columns: 2250px;
  grid-template-rows: 250px 600px 600px 800px; 
  position: relative;
  
}
header {
  position: fixed;
  border-bottom: 1px solid #4a4a4a;
  grid-area: header;
  background-color:white;
}
nav
{position:absoulte;
  word-spacing: 2em;
margin-left:200px;}
nav a {
  color: #4a4a4a;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 1em 0;
  margin-left:45px;
}
.line {
    width: 125px;
    height: 3px;
    background-color: #ffc200;
    }
nav a:hover {
color:#ffc200;}
nav a:nth-child(2):hover~.line{
  transform: translate(140px);
}
nav a:nth-child(3):hover~.line{
  transform: translate(270px);
}
nav a:nth-child(4):hover~.line{
  transform: translate(395px);
}
.main
{grid-area: main;
background-color:beige;
}
.profile{width: 250px;
display:flex;
display:inline;
clear:right;}
.who
{grid-area: who;
 border: 1px dotted #ffc200;
}
h1,h2,p{
  margin: 10px 10px 10px 200px;
  letter-spacing: 0.3px;
  padding: 10px 0px 10px 10px;
}
p{
  line-height:30px;}
span{color:#ffc200;
}

.like {
  grid-area: like;}

.col {
   display: grid;
  grid-gap: 1px;
  grid-template-areas:
    "card1 card4"
    "card5 card8"
    "card9 card12";
  grid-template-columns: repeat(4,210px);
  grid-template-rows: repeat(3,210px); 
  position: relative;
  margin-left: 200px;
}
.col img{
  width: 200px;
  height: 200px;
  margin: 2px;
    position: relative;
}

img{
  margin-top: 20px;
}
.logo {
  width: 20px;
  height: auto;
}
footer {
  background-color: lightgrey;
  grid-area: footer;
}
